.heading{
    width:80%;
    font-size:22px;
}
body{
background-color:lightsalmon;
color:darkblue;
}
hr{
    color: darkblue;
}
.name_of_objects,#result_object_accuracy,#result_object_name{
    color:crimson;
    font-size:18px;
}
#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
